
#background-network-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}


.background-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background:
    radial-gradient(1200px 900px at 20% 10%, rgba(63, 81, 181, 0.086), transparent 60%),
    radial-gradient(900px 600px at 80% 90%, rgba(0,0,0,.06), transparent 60%);
  mix-blend-mode: normal;
  z-index: -5; 
}
