
#search-company-warpper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;
  padding:30px;
  height: 300px;
  border-radius: 5px;
  background-color: rgba(233, 233, 233, 0.5);

}

#search-wrapper > * {
    margin-top: 20px;
}