name: CI

on: 
  push:
    branches:
      - main
    paths:
      - backend/**
      - frontend/**
  pull_request:
    branches:
      - main
    paths:
      - backend/**
      - frontend/**
  workflow_dispatch:

jobs:
  backend-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
          pip install -r requirements.txt
      - name: Analysing the code with pylint
        continue-on-error: true # maybe we should remove this in production
        run: |
          pylint $(git ls-files '*.py')

  frontend-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      - name: Install dependencies
        # run: npm ci
        run: npm install
      - name: Run ESLint
        run: npm run lint

  no-emojis-bruh:
    name: Check repository for no emojis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run emoji check
        run: |
          python .github/scripts/check_emojis.py